<h1>Listing articles</h1>

<table>
<tr>
<th>Title</th>
<th>Text</th>
<th colspan="3">Handle</th>
</tr>
<% @articles.each do |article| %>
<tr>
<td><%= article.title %></td>
<td><%= article.text %></td>
<td><%= link_to 'Show',article_path(article) %></td>
<td><%= link_to 'Edit',edit_article_path(article) %></td>
<td><%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>
<p><%= link_to 'New article',new_article_path %></p>

<style>
  h1 {
    text-align: center;
    color: #B00100;
    font-size: 80px;
  }
  table {
    width: 60%;
    margin: 10% auto;
    background: #fff;
    border: 2px solid #B00100;
    border-radius: 5px;
    text-align: center;
    line-height: 1.5;
  }
  th {
    height: 50px;
    color: #fff;
    background: #B00100;
    font-size: 18px;
    font-weight: 600;
  }
  p {
    text-align: center;
    text-decoration: none;
    font-size: 60px;
  }
</style>
