<p>
  Article Show
</p>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <td><%= @article.title %></td>
  <td><%= @article.text %></td>
</table>
<!--<p>-->
<!--<strong>Title:</strong>-->
<!--<%=@article.title%>-->
<!--</p>-->
<!--<p>-->
<!--<strong>Text:</strong>-->
<!--<%=@article.text%>-->
<!--</p>-->
<p>Comments</p>
<%= render @article.comments %>
<p>Add a comment:</p>
  <p><%= render "comments/form" %></p>
  <p class="link">
    <%= link_to 'Edit Article', edit_article_path(@article) %>    ||
    <%= link_to 'Back to Articles', articles_path %>
  </p>

