<h1>Please sign up :</h1>
<%= form_for :user, url: users_path do |f| %>
    <dl>
    <%= f.label :name ,"name"%>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :password , "password"%>
    <%= f.text_field :password%>
    <br>
    <%= f.submit %>
    </dl>
<% end %>
<style>
  dl {
    float: inherit;
    text-align: center;
    border-radius: 1px;
    border: #ff1b0e;
  }
    h1 {
      text-align: center;
      font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
      font-size: 20px;
      color: #B00100;
    }
</style>